@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.search-card {
    position: absolute;
    width: 1251px;
    height: 270px;
    margin-left: 90px;
    margin-top: 120px;

    background: #E6F7FF;
    border-radius: 16px;
}

.search-title {

    position: absolute;
    width: 502px;
    height: 46px;
    margin-left: 94px;
    margin-top: 66px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;

}

.search-input {
    position: absolute;
    width: 680px;
    height: 40px;    
    border-radius: 4px;
    margin-left: 94px;
    margin-top: 124px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-input-text {
    position: absolute;
    height: 24px;
    left: 17px;
    right: 27px;
    top: calc(50% - 24px/2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BFBFBF;
}

.btn-search {

    position: absolute;
    width: 101px;
    height: 40px;
    margin-left: 94px;
    margin-top: 190px;    
    background: #1890FF;
    border-radius: 4px;
}

.btn-search-text {
    position: absolute;
    height: 24px;    
    height: 24px;
    margin-top: -10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    
}