.btn-icon {
    position: absolute;
    width: 101px;
    height: 40px;    
    margin-top: 45px;
    
    background: #1890FF;
    border-radius: 4px;    
}

.btn-icon-text {    
    height: 24px;    
    margin-top: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    

    color: #FFF;

}