@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700$display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background: #1890FF;
}

.btn {
    padding: 8px 16px;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    border:0;
    border-radius: 4px;
    cursor: pointer;
}